
  h1,h2 ,h3,h4,h5,h6,a {
    font-weight: 400!important;
}

body{
  max-width: 54rem!important;
 
}

.no-underline {
  text-decoration-line: none;
}
.mt-12 {
  margin-top: 3rem/* 48px */;
}
.max-w-4xl {
  max-width: 56rem/* 896px */;
}
.mt-4 {
  margin-top: 1rem/* 16px */;
}


html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family:'KingHwa_OldSong', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  font-size: 13pt;
}