


body{
  max-width: 58rem!important;
  font-size: 13pt;
}

.no-underline {
  text-decoration-line: none;
}
.mt-12 {
  margin-top: 3rem/* 48px */;
}
.max-w-4xl {
  max-width: 56rem/* 896px */;
}
.mt-4 {
  margin-top: 1rem/* 16px */;
}
:is(.dark .dark\:text-neutral-200) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-200), var(--tw-text-opacity));
}

