
  h1,h2 ,h3,h4,h5,h6,a {
    font-weight: 400!important;
}

body{
  max-width: 56rem!important;
 
}

.no-underline {
  text-decoration-line: none;
}
.mt-12 {
  margin-top: 3rem/* 48px */;
}
.max-w-4xl {
  max-width: 56rem/* 896px */;
}
.mt-4 {
  margin-top: 1rem/* 16px */;
}

html {
  font-family:'Fontquan-XinYiJiXiangSong';
  font-weight:'400';
  font-size:1.2rem
};